*{
	padding: 0;
	margin: 0;
}
body{
	
	background: url("imagens/fundo.jpg"); /* carrega uma imagem como background*/
	
}

header{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #fff;
}

.img_container{
	flex-basis: 15%;
	justify-content: center;
}

.img_container img{
	width: 100%;
}
nav{
	margin-top: 4%; /*margem superior */
	background-color: white;
	border-radius: 50px;
	border: solid 5px black;
    float:left;
    width: 99.5%;
    margin-bottom: 4%; /* margem inferior*/
}
nav a img {
    width: 25%;
	margin-left: 5%;
}
#conteudo{
	margin-top: 1%;
	background-color: #ddd;
	border-radius: 50px;
	border: solid 5px black;
}
#conteudo p{
	font-family: sans-serif; /*fonte */
	font-size: 2em; /* tamanho da fonte*/
	margin-left:3%;
	margin-right:3%;
}
.box_conteudo{
    float:left;
    width: 99%;
}
.box_conteudo p{
    font-family: sans-serif;
	font-size: 2em;
	margin-left:3%;
	margin-right:3%; /* margem direita*/
    float:left;
}
.box_conteudo img{
    width: 30%;
    float:left;
    margin-left: 35%;
    
}
#mini{
   
    width:10%;
}
