body{
	
	background: url("imagens/fundo.jpg"); /* carrega uma imagem como background*/
	
}

nav{
	
	margin-left: -5px; /* margem esquerda*/
	width: 100%; /* largura*/
	height: 15%; /* altura*/
	background-color: #ddd; /* cor de fundo */
	border-radius: 50px; /* arredondar borda */
	border: solid 5px black; /* tipo da borda, tamanho da borda, cor da borda */
    float: left; /* posição*/
}
nav img{
	width: 15%; 
	margin-left: 45%;

}
div{
	margin-top: 4%; /*margem superior */
	background-color: white;
	border-radius: 50px;
	border: solid 5px black;
    float:left;
    width: 99.5%;
    margin-bottom: 4%; /* margem inferior*/
}
div img {
    width: 25%;
	margin-left: 5%;
}
#conteudo{
	margin-top: 1%;
	background-color: #ddd;
	border-radius: 50px;
	border: solid 5px black;
}
#conteudo p{
	font-family: sans-serif; /*fonte */
	font-size: 2em; /* tamanho da fonte*/
	margin-left:3%;
	margin-right:3%;
}
.box_conteudo{
    float:left;
    width: 99%;
}
.box_conteudo p{
    font-family: sans-serif;
	font-size: 2em;
	margin-left:3%;
	margin-right:3%; /* margem direita*/
    float:left;
}
.box_conteudo img{
    width: 30%;
    float:left;
    margin-left: 35%;
    
}
#mini{
   
    width:10%;
}
